<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="bg-icon"></div>
        <div class="footer-logo">

        </div>
        <!-- <div class="footer-menu">
            <dl class="d1">
                <dt><i class="icon"></i>关于我们</dt>
                <dd><span class="arrow"></span><a href="/about.html">关于我们</a></dd>
                <dd><span class="arrow"></span><a href="/about.html">了解优美迅</a></dd>
                <dd><span class="arrow"></span><a href="/case.html">客户案例</a></dd>
                <dd><span class="arrow"></span><a href="/news.html">新闻中心</a></dd>
                <dd><span class="arrow"></span><a href="/contact.html">联系方式</a></dd>
                <dd><span class="arrow"></span><a href="/sitemap.html">网站地图</a></dd>
            </dl>
            <dl class="d2">
                <dt><i class="icon"></i>服务项目</dt>
                <dd><span class="arrow"></span><a href="/service.html">网站开发及设计</a></dd>
                <dd><span class="arrow"></span><a href="/service.html">手机网站开发</a></dd>
                <dd><span class="arrow"></span><a href="/service.html">移动APP开发</a></dd>
                <dd><span class="arrow"></span><a href="/service.html">软件界面设计</a></dd>
                <dd><span class="arrow"></span><a href="/service.html">网站运营维护</a></dd>
                <dd><span class="arrow"></span><a href="http://www.sucaiweb.com">图标设计</a></dd>
            </dl>
            <dl class="d3">
                <dt>联系我们</dt>
                <dd><i class="icon"></i><a href="javascript:;">电话: 135 0307 7885</a></dd>
                <dd><i class="icon i2"></i><a href="javascript:;">地址: 广州市天河区棠德小区</a></dd>
                <dd><i class="icon i3"></i><a href="tencent://message/?uin=1951828835&Site=优美迅科技&Menu=yes">QQ: 1951828835</a></dd>
            </dl>
        </div> -->
    </div>
    <div class="copyright">
        <div class="container">
            <p>版权所有©2014 umeixun.com。优美迅科技有限公司保留所有权利
                <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd5c050a084af9259da9c6a7c936f47a8' type='text/javascript'%3E%3C/script%3E"));
            </script>
            </p>
        </div>
    </div>
</div>
<!--footer end / -->
<script type="text/javascript" src="{APP_PATH}statics/web/js/jquery.nicescroll.min.js"></script>