{template 'common', 'head'}
<link rel="stylesheet" href="{APP_PATH}statics/web/css/new.css">
<div id="new" class="mt140">
    <div class="container wrap-new">
    <div class="new-tit">
        <h1>{$newsinfo['title']}</h1>
        <p><span class="author">作者：{if $newsinfo['author']}{$newsinfo['author']}{else}老牛{/if}</span><span class="time">发表于：{date('Y-m-d',$newsinfo['inputtime'])}</span></p>
    </div>
     <div class="new-page">
        <div class="new-page-m">
            {$newsinfo['content']}
        </div>
     </div>
     <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{$newsinfo['id']}" data-title="{$newsinfo['title']}" data-url="{$newsinfo['url']}"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"oldniu2014"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->
    <div class="new-go">
        <a href="javascript:history.go(-1);" class="new-btn">返回</a>
    </div>
    </div>
</div>
{template 'common', 'foot'}
<script type="text/javascript">
    $(function(){
        $('#header').fixedNav();
    });
</script>
</body>
</html>